.weather_setion{
    background-image: url('../images/pngtree-landscape-hd-wallpaper-backgrounds-best-wallpaper-image_2929886.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}